@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800&display=swap");
html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  background-color: #222;
}
