#main_inputs {
  padding-bottom: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  letter-spacing: 1.3px;
  font-weight: 600;
}

input[type="checkbox"] {
  visibility: hidden;
}
label.main_inputs_checkbox {
  display: block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  font-size: 16px;
}
span.main_inputs_checkbox_custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #333;
}
label.main_inputs_checkbox:hover input ~ span.main_inputs_checkbox_custom {
  background-color: rgb(153, 231, 153);
}
label.main_inputs_checkbox input:active ~ span.main_inputs_checkbox_custom {
  background-color: rgb(153, 231, 153);
}
label.main_inputs_checkbox input:checked ~ span.main_inputs_checkbox_custom {
  background-color: rgb(153, 231, 153);
}
span.main_inputs_checkbox_custom::after {
  content: "";
  position: absolute;
  display: none;
}

//Sprawdzić to
label.main_inputs_checkbox
  input:checked
  ~ span.main_inputs_checkbox_custom:after {
  display: block;
}
span.main_inputs_checkbox_custom::after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="range"] {
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #ffffff;
  border: 0px solid rgba(255, 0, 255, 0);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 9.8px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -7.6px;
  width: 25px;
  height: 25px;
  background: #99e799;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-progress {
  height: 20px;
  border-radius: 10px 0 0 10px;
  background-color: #2196f3;
  border: 2px solid #1976d2;
}
input[type="range"]::range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  border: 2px solid #1976d2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
input[type="range"]::range-track {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: #eee;
  border: 2px solid #ccc;
}

input[type="range"]::-moz-range-track {
  background: #99e799;
  border: 0px solid rgba(255, 0, 255, 0);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 9.8px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #99e799;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 22.6px 0;
  color: transparent;
  width: 100%;
  height: 9.8px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #99e799;
  border: 0px solid rgba(255, 0, 255, 0);
  border: 0;
  border-radius: 50px;
}
input[type="range"]::-ms-fill-upper {
  background: #99e799;
  border: 0px solid rgba(255, 0, 255, 0);
  border: 0;
  border-radius: 50px;
}
input[type="range"]::-ms-thumb {
  width: 25px;
  height: 25px;
  background: #99e799;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #99e799;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #99e799;
}
input[type="range"]::-webkit-progress-bar {
  background: red;
  height: 25px;
  width: 100%;
}
input[type="range"]::-moz-progress-bar {
  background-color: #99e799;
  height: 25px;
  width: 25px;
}
